:root {
    --branding-color: #064420;
    --heading-font-family: "Quicksand", sans-serif;
    --secondary-color: #e4efe7;
    --default-font-family: "Poppins", sans-serif;
}

body {
    font-family: var(--default-font-family);
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
}
h1 {
    font-size: 96px;
    line-height: 1.5;
}
h2 {
    font-size: 68px;
}
h3 {
    font-size: 40px;
}

p {
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
}

img {
    border-radius: 8px;
}
.project p {
    font-size: 30px;
}
.olive {
    border: 1px solid #354d3f;
    border-radius: 8px;
    width: 700px;

}
.olive-logo {
    width: 700px;
}

.hero {
    background: var(--secondary-color);
    text-align: center;
    margin-top: 100px;
    padding: 90px 20px 10px 20px;
}

.hero p {
    font-size: 32px;
    margin: 0;
    color: #272142;

}
.hero h2 {
    font-family: var(--heading-font-family);
    font-weight: normal;
    font-size: 40px;
    line-height: 1.5;
}

.quote p{
    line-height: 1px;
    opacity: 80;
}
.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 10px 30px;
}
.btn-branding-outline {
   font-size: 18px;
    line-height: 27px;
    padding: 15px 30px; 
    border-radius: 4px;
    border: 1px solid var(--branding-color);
    color: var(--branding-color);
}

.case-study-text h5 {
    text-align: center;
}
.current-work h3{
    color: black;
}
.current-work h3:hover {
    color:rgb(6, 54, 14)
}
.content-container {
    padding: 60px 20px;
    
}
.content {
    margin: 120px 5px 0px 0px;
    
}

.content h1 {
    font-size: 64px;
    line-height: 80px;
}
.content h3 {
    font-size: 24px;
    line-height: 2;
    font-family: var(--default-font-family);
    
}
.content p {
    font-size: 14px;

}

.content-container h2 {
    font-size: 25px;
    font-family: var(--default-font-family);
}
.project-description {
    padding: 30px 60px;
}
.alex {
    
    max-width: 275px;
    max-height: auto;
    
}
p .about-me {
    font-weight: 600;
}
p .about-why {
    font-weight: 600;
}
p .about-more {
    font-weight: 600;
}

nav {
    
    background-color: #fff;
    

}
nav .name {
    margin-left: 20px;
}
nav li {
    display: inline-block;
    list-style: none;
    line-height: 30px;
    margin-left: 30px;
    color: #292929;
}
nav ul {
    padding: 0;
    margin: 0;
}
nav a {
    text-decoration: none;
    color: #292929;
    transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
    color: var(--branding-color);
}

.navbar {
    color: #292929
    position: fixed;
}
.name {
    font-size: 30px;
    line-height: 100px;
}
.case-study {
    margin-top: 160px;
    text-align: center;
}
.learn-more {
    margin-top: 160px;
    text-align: center;
}
.learn-more .top-image {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.case-study-text {
    background-color: var(--);
    padding: 20px;
    border-radius: 8px;
    margin: 0 auto;
    max-width: 1000px;
    text-align: left;
}

.section-title {
    text-align: center;
}

.learn-more .deliverable {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.resume {
    padding-top: 60px;
    display: block;
    margin: auto;
}





/* footer */
footer {
    margin: 60px 0px;
}
footer .contact-box {
    background-color: var(--secondary-color);
    padding: 30px 120px;
    border-radius: 10px;
}
footer .contact-box p {
    margin: 0;
}
footer .email-link {
    text-decoration: none;
    color: black;
    font-size: 24px;
    text-align: center;  
}
footer .email-link:hover {
    color: var(--branding-color);
}
footer .social-links a {
    margin: 0 20px; 
    color: var(--branding-color);
    background-color: var(--secondary-color);
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
    color: white;
    background: var(--branding-color);
}
.media-link {
    text-decoration: none;
      color: black;
      font-size: 24px;
      text-align: center;  
}
.media-link:hover {
      color: var(--branding-color);
}


@media (max-width: 900px) {
    h1 {
        font-size: 44px;
        line-height: 56px;
    }
    h2 {
        font-size: 44px;
    }
    h3 {
        font-size: 26px;
    }
    .content {
        text-align: center;
        padding: 0;
    }
    .project-description {
        margin-top: 20px;
        padding: 0;
        text-align: center;
    }
}

@media (max-width: 360px) {
    footer .email-link {
        font-size: 16px;
    }
}

@media (max-width: 540px) {
    div .row {
        display: inline-block;
        
    }
    .name {
        font-size: 24px;
    }
    
}


a .short-name { display: none; }
a .one-name { display: none; }

@media (max-width: 450px) {
    a .short-name { display: inline-block; }
    a .full-name { display: none; }

    nav {
        font-size: 16px;
    }
    .hero h2 {
        font-size: 20px;
        
    }
    .hero {
        padding: 90px 10px 5px 10px;
    }
}

@media (max-width: 375px) {
    a .one-name { display: inline-block; }
    a .full-name { display: none; }
    a .short-name { display: none; }

    nav {
        font-size: 14px;
    }
    nav .name {
        margin-left: 10px;
    }
}

@media (max-width: 280px) {
    h1 {
        font-size: 20px;
        line-height: 20px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 20px;
    }
    .content {
        text-align: center;
        padding: 0;
    }
    .name {
        font-size: 18px;
    }
    .project-description {
        padding: 0;
        text-align: center;
    }
    
}